@font-face {
    font-family: Prompt Regular;
    src: url("../fonts/Prompt-Regular.ttf");
    font-family: Prompt Light;
    src: url('../fonts/Prompt-Light.ttf');
}

//Main colors
$classicBlack: #000000;
$classicWhite: #ffffff;
$classicRed: rgb(189, 30, 30);
$blue1: #b7cae6;
$blue2: #aac0e0;
$blue3: #7ba6d1;
$blue4: #438fc8;
$blue5: #1778b9;
$blue6: #0c5792;
$blue7: #00356a;
$blue8: #00162a;
$blue9: #000913;
$blue10: #000407;

// Mixins
@mixin displayFlexWrap {
    display: flex;
    flex-wrap: wrap;
}
@mixin centerAlign{
    justify-content: center;
    align-items: center;
}
@mixin beforeAndAfter{
    content: "";
    position: absolute;
    width: 20px;
    height: 4px;
    right: 5px;
    background-color: $blue1;
    border-radius: 10px;
    transition: 0.3s;
}
@mixin beforeAndAfterAnimation($degValue){
    top: 0px;
    transform: rotate($degValue);
    width: 30px;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Prompt Light;
    scroll-behavior: smooth;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: 1.25rem;
}
h1, h2, h3, h4, h5, p{
    color: $blue4;
}
h1{
    font-size: 2.25rem;
}
h2{
    font-size: 1.75rem;
}
h3{
    font-size: 1.50rem;
}
p{
    font-family: Prompt Regular;
    font-size: 1rem;
}

//Custom classes
.center-block{
    width: 80%;
    margin: 0px auto;
    @include displayFlexWrap();
}
.blue-text{
    color: $blue6;
}
.underline::after{
    display: block;
    content: "";
    margin: 5px auto;
    width: 100px;
    height: 3px;
    background-color: $blue5;
}
.link-button{

    color: $blue1;
    transition: 0.3s;
    font-weight: bold;
    &:hover{
        color: $blue3;
    }

}
.light-block{
    background-color: $blue2;
}
.dark-block{
    background-color: $blue4;
    h2, p{
        color: $blue1;
    }
}
.border-background{
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 5px solid rgba( 255, 255, 255, 0.18 );
}
.blured-picture{
    filter: brightness(70%);
}
.margin-scroll{ 
    scroll-margin-top: 160px; 
}

// Animista animations:
@keyframes color-change-2x{0%{background:$blue1} 50%{background:$blue2} 100%{background:$blue3}}
@keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;transform:translateZ(-800px);filter:blur(12px);opacity:0}100%{transform:translateZ(0);filter:blur(0);opacity:1}}
@keyframes focus-in-contract{0%{letter-spacing:1em;filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
@keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

// Start of header
header{
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: $blue4;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    .center-block{
        padding: 10px;
        background-color: inherit;
        justify-content: space-between;
        #logo{
            border: 5px solid rgba( 255, 255, 255, 0.18 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            border-radius: 5px;
            width: 70px;
            height: 70px;
            a{
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        nav{
            @include displayFlexWrap();
            @include centerAlign();
            input:checked ~ .navbar-collapse-menu{
                background: transparent;
            }
            input:checked ~ .navbar-collapse-menu::before{
                @include beforeAndAfterAnimation(-45deg);
            }
            input:checked ~ .navbar-collapse-menu::after{
                @include beforeAndAfterAnimation(45deg);
            }
            .navbar-collapse-menu{
                display: none;
                position: relative;
                width: 30px;
                height: 4px;
                background-color: $blue1;
                cursor: pointer;
                border-radius: 10px;
                z-index: 2;
                transition: 0.3s;
            }
            .navbar-collapse-menu::before{
                @include beforeAndAfter();
                top: -10px;
            }
            .navbar-collapse-menu::after{
                @include beforeAndAfter();
                top: 10px;
            }
            .navbar-collapse-button{
                display: none;
                position: relative;
                left: 30px;
                opacity: 0;
                width: 30px;
                height: 100%;
                z-index: 3;
                cursor: pointer;
                transition: 0.3s;
            }
            ul{
                @include displayFlexWrap();
                transition: 0.3s;
                li{
                    margin-left: 40px;
                    a{
                        padding: 1.875rem 0px;
                        color: $blue1;
                        font-weight: bold;
                        transition: 0.3s;
                        &:hover{
                            box-shadow: 0 -5px 0px $blue1 inset;
                            color: $blue6;
                        }
                    }
                }
            }
        }
        nav input:checked ~ .menu{
            right: 0px;
            box-shadow: -20px 0 40px rgba($color: #000000, $alpha: 0.3);
        }
    }
}

// Name and profession
.name-profession-block{
    height: 92vh;
    @include displayFlexWrap();
    background-color: $blue1;
    .center-block{
        @include centerAlign();
        flex-direction: column;
        i{
            font-size: 6.5rem;
            color: $blue6;
        }
        .text-block{
            @extend .border-background;
            padding: 1.25rem;
            @include displayFlexWrap();
            @include centerAlign();
            flex-direction: column;
            animation:focus-in-expand-fwd 1s cubic-bezier(.25,.46,.45,.94) both;
        }
    }
}

// Start of main
main{
    .main-block{
        padding-top: 3rem;
        padding-bottom: 5rem;
        .center-block{
            justify-content: center;
            // About
            #image-text-block{
                @include displayFlexWrap();
                flex-direction: row;
                justify-content: space-between;
                padding-top: 3rem;
                .image-block{
                    @include displayFlexWrap();
                    border-radius: 5px;
                    width: 47.5%;
                    height: 310px;
                    z-index: 0;
                    &::before{
                        @extend .border-background;
                        content: "";
                        width: 203px;
                        height: 290px;
                        position: relative;
                        top: -30px;
                        left: 190px;
                        z-index: -1;
                    }
                    &::after{
                        @extend .border-background;
                        content: "";
                        width: 203px;
                        height: 290px;
                        position: relative;
                        top: 30px;
                        right: 190px;
                        z-index: -1;
                    }
                    img{
                        @extend .border-background;
                        height: 300px;
                        transition: 0.5s;
                        &:hover{
                            transform: scale(1.1, 1.1);
                        }
                    }
                }
                .about-block{
                    @extend .border-background;
                    width: 47.5%;
                    text-align: justify;
                    padding: 1.25rem;
                    z-index: 0;
                    .row-one{
                        @include displayFlexWrap();
                        justify-content: space-around;
                        .name, .age, .place{
                            text-align: center;
                        }
                        .place{
                            a{
                                font-family: Prompt Regular;
                                color: $blue4;
                                transition: 0.3s;
                                &:hover{
                                    color: $blue3;
                                }
                            }
                        }
                    }
                    .row-two{
                        margin-top: 10px;
                        border-radius: 10px;
                        background-color: $blue4;
                        padding: 0.7rem;
                        p{color: $blue1;}
                    }
                    p{
                        font-size: 1.1rem;
                    }
                }
            }
            // Skills
            #skills-block{
                @include displayFlexWrap();
                justify-content: space-between;
                padding-top: 3rem;
                .skill-type{
                    @include displayFlexWrap();
                    @extend .border-background;
                    justify-content: center;
                    padding: 2rem 0.5rem;
                    width: 17%;
                    transition: 0.3s;
                    height: 350px;
                    text-align: center;
                    &:hover{
                        transform: scale(1.1);
                    }
                    a{ 
                        @extend .link-button;
                        margin-top: 10px;
                        border-radius: 5px;
                        font-size: 1rem;
                        padding: 5px 9px;
                        height: 13%;
                        &:hover{
                            background-color: $blue7;
                            color: $classicWhite;
                        }
                    }
                }
            }
            // Projects
            #projects-block{
                @extend #skills-block;
                .project-type{
                    @extend .skill-type;
                    width: 22%;
                    height: 100%;
                    padding: 2rem;
                    &:hover{
                        transform: scale(1.1);
                    }
                    img, h2{
                        margin-bottom: 10px;
                    }
                    img{
                        border: 4px solid $blue3;
                        border-radius: 5px;
                        width: 100%;
                    }
                }
            }
            // Contact
            #form-block{
                width: 100%;
                margin-top: 5rem;
                @include displayFlexWrap();
                justify-content: center;
                #my-form{
                    width: 60%;
                    label{
                        font-family: Prompt Regular;
                        color: $blue1;
                        font-size: 1.5rem;
                    }
                    input[type=text], input[type=email], #inputTextArea{
                        width: 100%;
                        padding: 5px 2px;
                        background-color: $blue4;
                        border: none;
                        border-bottom: 2px solid $blue2;
                        transition: 0.3s;
                        color: $blue1;
                        font-size: 1.2rem;
                        resize: vertical;
                        &:focus{
                            border-radius: 5px;
                            outline: none;
                            background-color: $blue5;
                            font-size: 1.3rem;
                        }
                    }
                    input[type=submit], input[type=reset]{
                        color: $blue4;
                        background-color: $blue2;
                        font-size: 1rem;
                        font-family: Prompt Regular;
                        border-radius: 5px;
                        border: none;
                        outline: none;
                        padding: 0.3rem 0.5rem;
                        transition: 0.3s;
                        cursor: pointer;
                        &:hover{
                            color: $blue2;
                            background-color: $blue6;
                        }
                    }
                    #inputName, #inputEmail, #inputText{
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

// Start of footer
footer{
    background-color: $blue4;
    padding: 2rem 0;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    .center-block{
        @include displayFlexWrap();
        justify-content: space-between;
        .left{
            h3{
                color: $blue1;
                font-size: 1.25rem;
            }
        }
        .middle{
            a{
                padding: 2px 5px;
                border: 2px solid $blue1;
                border-radius: 5px;
                background-color: $blue5;
            }
        }
        .right{
            ul{
                @include displayFlexWrap();
                li{
                    margin-left: 20px;
                }
            }
        }
        a{ 
            @extend .link-button; 
        }
    }   
}